/* .body {
  padding: 0;
  margin: auto;
} */
.container {
  width: 60%;
  text-align: center;
  align-items: center;
  margin: auto;
  height: 100vh;
  border: 1px solid blue;
}
.checkButton {
  /* display: flex; */
}
.partImage {
  width: 50%;
  height: auto;
  margin: auto;
  border: 1px solid forestgreen;
  margin-top: 10%;
  position: relative;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.partContainer {
  width: 100%;
  height: 60%;
  z-index: 0;
  display: flex;
}
.partMenuContainer {
  width: 100%;
  height: 10%;
  display: flex;
}
.partCard {
  width: 100%;
  /* margin: 5px; */
  border-radius: 10px;
  background-color: rgb(224, 224, 224);
  padding: 5px;
}
.part {
  border: 1px solid gray;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
}
.partListContainer {
  width: 100%;
  height: 30%;
  overflow-x: auto;
  padding: 10px;
}

.baseImg {
  display: block;
  width: 100%;
  height: auto;
}

.hairPartPosition {
  position: absolute;
  top: 0%;
  left: 18%;
  z-index: 1;
  @media screen and (max-width: 1500px) {
    max-width: 55%;
  }
}
.displayHairPart {
  width: 120%;
  height: auto;
}
.eyebrowPartposition {
  position: absolute;
  top: 12%;
  left: 23%;
  z-index: 3;
  @media screen and (max-width: 1500px) {
    max-width: 55%;
  }
}
.eyesPartposition {
  width: 60%;
  position: absolute;
  top: 13%;
  z-index: 1;
  @media screen and (max-width: 1500px) {
    max-width: 55%;
  }
}
.mouthPartposition {
  width: 15%;
  position: absolute;
  top: 40%;
  left: 42.5%;
  @media screen and (max-width: 1500px) {
    max-width: 55%;
  }
}
.displayMouthPart {
  width: 50%;
  height: auto;
}
.visible {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 10px; /* 行の間隔を設定 */
}
.hidden {
  display: none;
}
.card {
  border: 1px solid;
  display: inline-block;
  margin: 0 10px;
  width: 160px;
}

.ul {
  display: flex;
  list-style: none;
  border: 1px solid blue;
  border-radius: 3px;
  padding: 0 !important;
  margin: 0 !important;
  width: 100%;
}
.ul li {
  cursor: pointer;
  width: 100%;
  border-right: 1px solid #ccc;
  background-color: white;
}
.ul li:hover {
  background-color: #fafad2;
}
.partsName {
  /* width: 30%; */
  display: flex;
  text-align: center;
  position: absolute;
}

.selected {
  border: 2px solid blue;
}
