
/* .body{
    padding: 0 !important;
    margin: 0 !important;
} */

.container{
    width: 100%;
    text-align: center;
    align-items: center;
}
.ul{
    display: flex;
    width: 100%;
    list-style: none;
    border: 1px solid;
    border-radius: 2px;
    padding: 0 !important;
    margin: 0 !important;
    /* text-align: center; */

}
.ul li{
    cursor: pointer;
    width: 100%;
    /* margin-right: 10px; */
    border-right: 1px solid #ccc;
    padding: 0 5px;
}
.ul li:hover{
    background-color: #FAFAD2;
}
.partsname{
    width: 30%;
    display: inline-block;
    text-align: center;
}
.img{
    width: 200px;
    height:150px;
}
.menuitem {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
.reactHorizontalScrollingMenuscrollContainer {
    display: flex;
    height: max-content;
    overflow-y: hidden;
    position: relative;
    width: 100%;
}